@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Poltawski+Nowy:ital,wght@0,400..700;1,400..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Inconsolata:wght@200..900&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

/* Special Settings */
::selection {
  @apply bg-green text-black;
}
html {
  @apply scroll-smooth;
}
/* Hide scrollbar */
.scrollable::-webkit-scrollbar {
  display: none;
}
.scrollable {
  -ms-overflow-style: none; /* Internet Explorer and Edge */
  scrollbar-width: none; /* Firefox */
  overflow: -moz-scrollbars-none;
  -webkit-overflow-scrolling: touch;
}

/* Material Fonts */
.material-symbols-outlined {
  font-variation-settings: "FILL" 0, "wght" 600, "GRAD" 0, "opsz" 48;
}

/* Raw Content */
@layer base {
  .content {
    @apply font-serif font-normal text-lg;
  }
  .content p {
    @apply mb-4 tracking-normal leading-7 md:leading-8;
  }

  .content ul,
  .content ol {
    @apply mb-6 pl-5 list-inside;
  }

  .content ul {
    @apply list-disc;
  }

  .content ol {
    @apply list-decimal;
  }

  .content ol ol {
    list-style-type: lower-alpha;
  }

  .content ol ol ol {
    list-style-type: lower-roman;
  }

  .content li {
    @apply mb-2;
  }

  .content dl {
    @apply mb-6;
  }

  .content dt {
    @apply font-bold;
  }

  .content dd {
    @apply ml-5 mb-3;
  }

  .content h2 {
    @apply font-sans text-2xl md:text-3xl font-extrabold mt-12 mb-5 first:mt-0;
  }

  .content h3 {
    @apply font-sans text-xl md:text-2xl font-extrabold mt-10 mb-4;
  }

  .content h4 {
    @apply font-sans text-lg md:text-xl font-extrabold mt-6 mb-3;
  }

  .content h5 {
    @apply font-sans text-lg font-extrabold mt-5 mb-3;
  }

  .content blockquote {
    @apply border-l-4 border-green p-4 italic text-black mb-6 bg-black bg-opacity-5 rounded-r-md ;
  }

  .content em {
    @apply italic;
  }

  .content strong {
    @apply font-bold;
  }

  .content table {
    @apply w-full border-collapse mb-6 ;
  }

  .content th,
  .content td {
    @apply border border-gray-300 p-2;
  }

  .content th {
    @apply bg-black bg-opacity-5 text-left;
  }

  .content pre {
    @apply font-mono font-normal rounded-md text-sm px-4 py-6 text-gray-600 bg-black bg-opacity-5 text-left mb-6 overflow-auto;
  }
  .content li pre,
  .content p pre,
  .content li code,
  .content p code {
    @apply font-mono font-normal rounded text-sm mx-1 align-middle px-1 py-1 text-red bg-black bg-opacity-5 text-left mb-6 overflow-auto;
  }

  .content mark {
    @apply bg-green bg-opacity-50;
  }

  .content figure {
    @apply mb-6 text-center;
  }

  .content img {
    @apply inline-block m-1 w-full h-auto;
  }
  .content figcaption {
    @apply italic text-sm font-mono tracking-tight opacity-90;
  }
  .content a {
    @apply border-black border-b-2px opacity-60 border-opacity-50 transition duration-200 break-words;
  }
  .content a:hover {
    @apply opacity-100 border-opacity-100 bg-yellow;
  }
  .content aside {
    @apply font-sans text-base leading-7 font-medium opacity-90 bg-black bg-opacity-5 p-4 border-green border-l-4;
  }
  .content aside p {
    @apply mb-0;
  }
  .content .gist {
    @apply block relative mb-6;
    .gist-file {
      @apply mb-0 font-mono border-0;
    }

    .gist-data {
      @apply bg-black bg-opacity-5 rounded-t-md;
    }

    .blob-wrapper {
      @apply py-3 bg-transparent;

      &::-webkit-scrollbar {
        display: none;
      }

      .highlight,
      .highlight * {
        @apply bg-transparent font-mono tracking-tight text-sm;

        &::selection,
        & *::selection {
          @apply bg-green text-black;
        }
      }

      td {
        @apply text-black border-0;
      }
    }
    .blob-num {
      @apply px-0 cursor-default;
    }
    .blob-num:before {
      @apply text-black opacity-30;
    }

    .gist-meta {
      @apply font-mono bg-black bg-opacity-5 text-transparent text-[0px] rounded-b-md first:hidden select-none;
    }
    .gist-meta a:nth-child(2){
      @apply text-black text-opacity-50 text-sm;
    }

    .gist-meta a:nth-child(1),
    .gist-meta a:nth-child(3) {
      @apply hidden;
    }
  }
}

/* Splash Screen Animation */
@keyframes heartbeat {
  0% {
    transform: scale(1);
  }
  25% {
    transform: scale(1.1);
  }
  50% {
    transform: scale(1);
  }
  75% {
    transform: scale(1.1);
  }
  100% {
    transform: scale(1);
  }
}

.animate-heartbeat {
  animation: heartbeat 1.5s ease-in-out infinite;
}
